body {
    font-family: 'Noto Serif TC', serif;
}

nav {
    font-size: 18px;
    font-weight: 600;
}

.Logo {
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

#Motivation {
    margin-top: 20px;
    text-align: center;
}

.motext{
    line-height: 2;
    font-size: 18px;
}

#Video {
    text-align: center;
}

#Opinion {
    text-align: center;
}

#Source {
    text-align: center;
}

.resources {
    color: rgb(155, 154, 154);
}

.resources:hover {
    color: rgb(105, 105, 105);
}

.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: hsl(0, 0%, 90%);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}
.nice{
    color: rgb(219, 18, 18);
}
.nice:hover{
    color: rgb(231, 79, 79);
}

.textSet{
    max-height: 50vh; /* 設定最大高度 */
    overflow-y: auto; /* 允許垂直滾動 */
    padding: 10px;
    box-sizing: border-box;
}